In [1]:
#importar librer√≠a panda. Una buena practica es utilizar un alias pd (as)
import pandas as pd

In [3]:
df = pd.read_csv('imdb.csv')

In [5]:
#buscar varios datos en filas (in)
seleccion = df[df.name.isin(['Star Wars','Dark Shadows','Blade'])]

#resetear el indice nuevo
seleccion.reset_index()

   index   id          name   genre  year imdb_rating
0      5    6     Star Wars  action  1977         8.7
1    127  128  Dark Shadows  horror  2012         6.2
2    137  138         Blade  horror  1998         7.1

In [6]:
#eliminar index de la tabla original
seleccion.reset_index(drop=True)

    id          name   genre  year imdb_rating
0    6     Star Wars  action  1977         8.7
1  128  Dark Shadows  horror  2012         6.2
2  138         Blade  horror  1998         7.1