In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([
    [1,'XXXX',0.5,0.75],
    [2,'XXXY',0.4,0.74],
    [3,'XXYY',0.3,0.70],
    [4,'XYYY',0.1,0.55]
],
columns=['ID','Descripcion','X','Y'])
print(df)

   ID Descripcion    X     Y
0   1        XXXX  0.5  0.75
1   2        XXXY  0.4  0.74
2   3        XXYY  0.3  0.70
3   4        XYYY  0.1  0.55

In [4]:
#Agregar nueva columna al dataframe
df['Cantidad'] = [100,110,43,2]
print(df)

   ID Descripcion    X     Y  Cantidad
0   1        XXXX  0.5  0.75       100
1   2        XXXY  0.4  0.74       110
2   3        XXYY  0.3  0.70        43
3   4        XYYY  0.1  0.55         2

In [5]:
#Agregando booleano masivamente
df['stock'] = True
print(df)

   ID Descripcion    X     Y  Cantidad  stock
0   1        XXXX  0.5  0.75       100   True
1   2        XXXY  0.4  0.74       110   True
2   3        XXYY  0.3  0.70        43   True
3   4        XYYY  0.1  0.55         2   True

In [6]:
#Calculando datos con columna existente
df['impuesto'] = df.Y * 1.19
print(df)

   ID Descripcion    X     Y  Cantidad  stock  impuesto
0   1        XXXX  0.5  0.75       100   True    0.8925
1   2        XXXY  0.4  0.74       110   True    0.8806
2   3        XXYY  0.3  0.70        43   True    0.8330
3   4        XYYY  0.1  0.55         2   True    0.6545

In [14]:
#dataframe solo string
df = pd.DataFrame([
    ['DIEGO VALLADARES','diego.valladares@outlook.com'],
    ['PEPITO MUÑOZ','pepito.muñoz@outlook.com'],
    ['JUAN MARTIN','jmartin@gmail.com']
],
columns = ['Nombre','Correo'])
print(df)

             Nombre                        Correo
0  DIEGO VALLADARES  diego.valladares@outlook.com
1      PEPITO MUÑOZ      pepito.muñoz@outlook.com
2       JUAN MARTIN             jmartin@gmail.com

In [15]:
#transformar mayuscula los datos de la columna nombre
df['Nombre'] = df['Nombre'].str.upper()
print(df)

             Nombre                        Correo
0  DIEGO VALLADARES  diego.valladares@outlook.com
1      PEPITO MUÑOZ      pepito.muñoz@outlook.com
2       JUAN MARTIN             jmartin@gmail.com

In [16]:
#Renombrar columnas
df.columns = ['Name','Email']
print(df)

               Name                         Email
0  DIEGO VALLADARES  diego.valladares@outlook.com
1      PEPITO MUÑOZ      pepito.muñoz@outlook.com
2       JUAN MARTIN             jmartin@gmail.com

In [17]:
#Eliminar la columna Name
df.drop('Name',axis=1,inplace=True)
print(df)

#Eliminar más de una lista a la vez
#df.drop(['COL1','COL2','COL3'],axis=1,inplace=True)

                          Email
0  diego.valladares@outlook.com
1      pepito.muñoz@outlook.com
2             jmartin@gmail.com