In [1]:
#importar librería panda. Una buena practica es utilizar un alias pd (as)
import pandas as pd

In [3]:
df = pd.read_csv('imdb.csv')

In [4]:
print(df)

      id                                       name   genre  year imdb_rating
0      1                                     Avatar  action  2009         7.9
1      2                             Jurassic World  action  2015         7.3
2      3                               The Avengers  action  2012         8.1
3      4                            The Dark Knight  action  2008         9.0
4      5  Star Wars: Episode I - The Phantom Menace  action  1999         6.6
..   ...                                        ...     ...   ...         ...
215  216                                   Hannibal   drama  2001         6.7
216  217                        Catch Me If You Can   drama  2002         8.0
217  218                                  Big Daddy   drama  1999         6.4
218  219                                      Se7en   drama  1995         8.6
219  220                                      Seven   drama  1979         6.1

[220 rows x 5 columns]

In [5]:
#imprime los primeros 5 registros
df.head()

   id                                       name   genre  year imdb_rating
0   1                                     Avatar  action  2009         7.9
1   2                             Jurassic World  action  2015         7.3
2   3                               The Avengers  action  2012         8.1
3   4                            The Dark Knight  action  2008         9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999         6.6

In [6]:
#imprime los 10 primeros registros
df.head(10)

   id                                       name   genre  year imdb_rating
0   1                                     Avatar  action  2009         7.9
1   2                             Jurassic World  action  2015         7.3
2   3                               The Avengers  action  2012         8.1
3   4                            The Dark Knight  action  2008         9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999         6.6
5   6                                  Star Wars  action  1977         8.7
6   7                    Avengers: Age of Ultron  action  2015         7.9
7   8                      The Dark Knight Rises  action  2012         8.5
8   9  Pirates of the Caribbean: Dead Mans Chest  action  2006         7.3
9  10                                 Iron Man 3  action  2013         7.3

In [7]:
#mostrar información
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           220 non-null    int64
 1   name         220 non-null    object
 2   genre        220 non-null    object
 3   year         220 non-null    int64
 4   imdb_rating  220 non-null    object
dtypes: int64(2), object(3)
memory usage: 8.7+ KB

In [8]:
#mostrar solo el año del dataframe
year = df['year']
print(year)

0      2009
1      2015
2      2012
3      2008
4      1999
       ...
215    2001
216    2002
217    1999
218    1995
219    1979
Name: year, Length: 220, dtype: int64

In [9]:
#mostrar solo el genero
genre = df.genre
print(genre)

0      action
1      action
2      action
3      action
4      action
        ...
215     drama
216     drama
217     drama
218     drama
219     drama
Name: genre, Length: 220, dtype: object

In [15]:
#Serie en panda segun el tipo del frame generado. Objeto de una sola división es igual a un array
print(type(genre))

#otra forma de hacer serie de forma manual
clinic_east = pd.Series([100,20,30,50,60,2])
print(clinic_east)

<class 'pandas.core.series.Series'>
0    100
1     20
2     30
3     50
4     60
5      2
dtype: int64

In [16]:
#imprimir dos columnas (year y genre)
new_df = df[['year','genre']]
print(new_df)

     year   genre
0    2009  action
1    2015  action
2    2012  action
3    2008  action
4    1999  action
..    ...     ...
215  2001   drama
216  2002   drama
217  1999   drama
218  1995   drama
219  1979   drama

[220 rows x 2 columns]