In [2]:
import pandas as pd
df = pd.read_csv('imdb.csv')
df.head()

   id                                       name   genre  year imdb_rating
0   1                                     Avatar  action  2009         7.9
1   2                             Jurassic World  action  2015         7.3
2   3                               The Avengers  action  2012         8.1
3   4                            The Dark Knight  action  2008         9.0
4   5  Star Wars: Episode I - The Phantom Menace  action  1999         6.6

In [3]:
#obtener mediana columna año
df.year.median()

2005.5

In [4]:
#calcular cantidad de años únicos 
df.year.nunique()

42

In [5]:
#imprimir cantidad de años uúnicos
df.year.unique()

array([2009, 2015, 2012, 2008, 1999, 1977, 2006, 2013, 2002, 2005, 2004,
       2011, 2014, 2007, 2010, 1983, 1996, 2003, 1980, 1989, 1984, 1997,
       2001, 1990, 2000, 1993, 1992, 1985, 1994, 1978, 1979, 1986, 1998,
       1991, 1939, 1937, 1982, 1965, 1995, 1975, 1988, 1987], dtype=int64)

In [7]:
#obtener min y max de año
df.year.max()
df.year.min()

1937

In [10]:
#Agrupación -> obtener el maximo rating por genero
agr = df.groupby('genre').imdb_rating.max()
agr

genre
action     9.0
comedy     8.6
drama      8.7
horror     8.4
romance    8.8
Name: imdb_rating, dtype: object

In [13]:
#convertir el resultado en dataframe
agr = df.groupby('genre').imdb_rating.max().reset_index()
agr

     genre imdb_rating
0   action         9.0
1   comedy         8.6
2    drama         8.7
3   horror         8.4
4  romance         8.8